# Projekt 3 - Eksperymenty i analiza danych
## Autorzy
- Daniel Zdancewicz [145317]
- Alex Terentowicz [145419]

## Opis

Projekt polega na przeprowadzeniu eksperymentów z użyciem kilku metod i przeprowadzeniu analizy uzyskanych wyników.
Należało odnaleźć zbiór danych, który zawiera kilka kryteriów monotonicznych, ponad 100 alternatyw i co najmniej 2 klasy (jeśli problem ma więcej klas, możesz je zbinaryzować).

Krótko opisz zbiór danych, w tym opisy kryteriów. Dla tego zbioru danych wytrenuj następujące modele:
- Jeden prosty, interpretowalny model ML (np. XGBoost, rankSVM lub regresja logistyczna)
- Jeden interpretowalny model ANN-MCDA przedstawiony na zajęciach (ANN-Ch-Constr. lub ANN-UTADIS)
- Złożony model sici neuronowej zawierającej kilka warstw ukrytych.


## Opis zbioru danych

W tej pracy wybrany zbiór zawierający dane o udzielonych kredytach. Zbiór zawiera 614 rekordów, 13 kolumn i 2 klasy. Kolumny to:
- Loan_ID — Identyfikator udzielonego kredytu
- Gender — Płeć kredytobiorcy
- Married — Stan cywilny kredytobiorcy
- Dependents — Liczba osób na utrzymaniu kredytobiorcy
- Education — Wykształcenie kredytobiorcy
- Self_Employed — Czy kredytobiorca jest samozatrudniony
- ApplicantIncome — Miesięczny dochód kredytobiorcy
- CoapplicantIncome — Miesięczny dochód współkredytobiorcy
- LoanAmount — Kwota kredytu
- Loan_Amount_Term — Okres spłaty kredytu w miesiącach
- Credit_History — Historia kredytowa kredytobiorcy
- Property_Area — Lokalizacja nieruchomości kredytobiorcy
- Loan_Status — Czy kredyt został spłacony

Źródło danych — [Kaggle](https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset)

Jako kryteria monotoniczne wybrano:
- ApplicantIncome
- CoapplicantIncome
- LoanAmount
- Loan_Amount_Term

Jako kryteria niemonotoniczne wybrano:
- Gender
- Married
- Dependents
- Education
- Self_Employed
- Credit_History
- Property_Area

Jako klasy wybrano kolumnę Loan_Status, która zawiera informacje o tym czy kredyt został spłacony:
- Y — Kredyt został spłacony
- N — Kredyt nie został spłacony


### Opisy kryteriów

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas import DataFrame

def load() -> tuple[DataFrame, DataFrame]:
  return tuple([pd.read_csv(f"./resources/datasets/loan_sanction_{type_}.csv") for type_ in ["train", "test"]])

In [3]:
train, test = load()

train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [2]:
train.head()

NameError: name 'train' is not defined

## Preprocessing

In [68]:
encoded_cols = ["Gender", "Married", "Education", "Dependents", "Self_Employed", "Property_Area"]
for col in encoded_cols:
  print(f"{col}: {train[col].unique()}")

Gender: ['Male' 'Female' nan]
Married: ['No' 'Yes' nan]
Education: ['Graduate' 'Not Graduate']
Dependents: ['0' '1' '2' '3+' nan]
Self_Employed: ['No' 'Yes' nan]
Property_Area: ['Urban' 'Rural' 'Semiurban']

In [54]:
from sklearn.preprocessing import LabelEncoder

def preprocess(df):
  df = df.copy()
  df = df.dropna()
  # bo w danych testowych nie ma kolumny:
  if "Loan_Status" in df.columns:
    encoded_cols.append("Loan_Status")

  # te linijke chce zamienic na sztywne encodowanie ordinal kolumn na encoding w odpowiedniej kolejnosci
  # czyli zeby property_area było ['Urban' 'Semiurban' 'Rural'] -> [0, 1, 2]
  # oraz w dependents zmienic tylko typ i "3+" na "3"
  df[encoded_cols] = df[encoded_cols].apply(LabelEncoder().fit_transform)

  return df

def drop_ids_and_map(df):
  # create map of loan_id to index
  df_map = dict(zip(df["Loan_ID"], df.index))
  df = df.drop(columns=["Loan_ID"])
  return df, df_map

train, test = (preprocess(df) for df in [train, test])
(train, train_map), (test, test_map) = (drop_ids_and_map(df) for df in [train, test])
train.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,0.820833,0.647917,0.777083,0.202083,0.137500,5364.231250,1581.093583,144.735417,342.050000,0.854167,1.022917,0.691667
std,0.383892,0.478118,1.020815,0.401973,0.344734,5668.251251,2617.692267,80.508164,65.212401,0.353307,0.776411,0.462287
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,36.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2898.750000,0.000000,100.000000,360.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,3859.000000,1084.500000,128.000000,360.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,2.000000,0.000000,0.000000,5852.500000,2253.250000,170.000000,360.000000,1.000000,2.000000,1.000000
max,1.000000,1.000000,3.000000,1.000000,1.000000,81000.000000,33837.000000,600.000000,480.000000,1.000000,2.000000,1.000000

In [56]:
train.iloc[train_map["LP001003"]]

Gender                  1.0
Married                 1.0
Dependents              0.0
Education               0.0
Self_Employed           1.0
ApplicantIncome      3000.0
CoapplicantIncome       0.0
LoanAmount             66.0
Loan_Amount_Term      360.0
Credit_History          1.0
Property_Area           2.0
Loan_Status             1.0
Name: 2, dtype: float64

In [49]:
# show types of data
train.dtypes

Gender                 int64
Married                int64
Dependents            object
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [48]:
train.corr()

ValueError: could not convert string to float: '3+'

## Trening modeli

### Rank SVM — interpretowalny model ML

### ANN-Ch-Constr. — interpretowalny model ANN-MCDA

### Głęboka sieć neuronowa — model złożony.

## Eksperymenty
Wszystkie prezentowane wartości są do maksymalnie 4 miejsc po przecinku.

### Przedstawienie metryk

- Rank SVM
    - Accuracy
    - F1
    - AUC
- ANN-Ch-Constr.
    - Accuracy
    - F1
    - AUC
- Głęboka sieć neuronowa
    - Accuracy
    - F1
    - AUC

### Przedstawienie modelu
(np funkcje cząstkowe, schemat drzewa ...).


### Interpretacja
- Czy na podstawie uzyskanych parametrów możemy powiedzieć coś o preferencjach
użytkowników?
- Czy są jakieś kryteria, które nie mają żadnego wpływu, czy też mają wpływ decydujący.
- Czy istnieją jakieś progi preferencji?
- Czy istnieją oceny kryteriów, które są nierozróżnialne z punktu widzenia preferencji?

### Interpretacja techniką Partial Dependence Plot
Wykonaj interpretację modelu korzystając z conajmniej jednej techniki( Global Surrogate,
Partial Dependence Plot Permutation Feature Importance ...)

Dla 3 wybranych wariantów dokonaj wyjaśnienia decyzji.
- Znajdź minimalną zmianę w ocenach tak aby wariant został przypisany do innej klasy.
    – Spróbuj odpowiedzieć na to pytanie w sposób analityczny, opierając się tylko na
wartościach parametrów modelu i wyjaśnij, dlaczego taka zmiana jest minimalna
(bez próbkowania).
    - Wykonaj próbkowanie przestrzeni, nieznacznie zmieniając oceny, tak aby uzyskać
inną klasę. Czy wyniki zgadzają się z przewidywaniami teoretycznymi?
- Dokonaj wyjaśnienia predykcji za pomocą conajmniej jednej techniki (Anchors LIME,
SHAP, ... )

##### Możliwe narzędzia
Lista narzędzi, które zawierają różne techniki wyjaśniania predykcji i interpretacji modelu:
- Shapash
- Alibi
- Explainerdashboard
- DALEX
- eli5
- aix360